@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;