@font-face {
  font-family: 'FingerPaint';
  src: url('/fonts/finger-paint/FingerPaint-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GamjaFlower';
  src: url('/fonts/gamja-flower/GamjaFlower-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Silkscreen';
  src: url('/fonts/silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-neon: #f9d6d6;
    --clr-bg: #0C0F0A;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
/* Custom CSS for glowing effect */
@layer utilities {
    .shadow-glow {
      box-shadow: 0 0 10px #ff0000, 0 0 20px #ff1500, 0 0 30px #fbe0dc;
    }
    .shadow-glow-footer {
        box-shadow: 0 0 10px #fcf4f4, 0 0 20px #fad3d0, 0 0 30px #fbe0dc;
      }
  }

.content {
  position: relative;
}

.content h3 {
  font-family: 'GamjaFlower', serif;
  color: #fff;
  font-size: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h3:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #f02e0b;
}

.content h3:nth-child(2) {
  color: #f9f9e5;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

  .neon-button {
    font-size: 1.2rem;
    color: var(--clr-neon);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: rgb(228, 251, 230) .125em solid;
    padding: .25em 1em;
    border-radius: 1em;
    box-shadow:
      inset 0 0 0.5em 0 var(--clr-neon),
      0 0 0.5em 0 var(--clr-neon);
    position: relative;
  /*   transition: background-color 100ms linear; */
  }
  
  .neon-button::before {
    pointer-events: none;
    color: var(--clr-neon);
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 50%;
    height: 50%;
    transform: perspective(1em) rotateX(40deg) scale(1, 1.695);
    filter: blur(1em);
    opacity: 0.9;
  }
  
  .neon-button:hover, .neon-button:focus {
    color: green;
    text-shadow: none;
    opacity:'.5';
  }
  
  .neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    color:'red';
    right: 0;
    bottom: 0;
    border-radius: 1em;
    background-color: rgb(253, 253, 253);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover::before, .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after, .neon-button:focus::after {
    opacity: 1;
  }


  #nav-toggle {
    position: fixed;
    display: block; /* Ensure it is visible on smaller screens */
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
  } 

/* Media Query for Phone-sized Screens */
@media (max-width: 568px) {
    .content h3 {
      font-size: 3em;
      font-family: 'GamjaFlower', serif;
    }
  }

  @media (max-width: 1028px) {
    .list-reset {
      position: absolute;
      top: 100%; /* Position the list below the navigation */
      left: 0; /* Adjust as needed */
      width: 100%; /* Ensure the background extends 100% */
      background: rgb(15, 15, 15); /* Optional: Add background color to the list */
      border-bottom: 1px solid white; /* Add a white border at the bottom of each list item */
      padding: 10px; /* Add padding for spacing */
      display: flex;
      flex-direction: column; /* Display the items vertically */
    }
  
    .list-reset li {
      margin-top: 8px; /* Adjust as needed for spacing between items */
      padding-bottom: 8px; /* Add padding to separate list items visually */
    }

    .neon-button {
        font-size: 1rem;
        color: var(--clr-neon);
        display: inline-block;
        cursor: pointer;
        padding: 0.5em;
        width: auto;
        text-decoration: none;
        border: rgb(228, 251, 230) .125em solid;
        border-radius: 1em;
        box-shadow:
          inset 0 0 0.5em 0 var(--clr-neon),
          0 0 0.5em 0 var(--clr-neon);
        position: relative;
      /*   transition: background-color 100ms linear; */
      }


  }

/* **************************************************************************************
****** NFT Store css ********************************************************************
************************************************************************************** */

.arrow-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for exact centering */
  transition: 1s ease-in-out; /* Add a smooth transition */
  z-index: 2;
  font-size: 0; /* Remove font size to hide the < and > characters */
}

.arrow-left, .arrow-right {
  border: solid transparent;
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%; /* Center vertically with respect to the card */
  transform: translateY(-50%);
  transition: 1.69s; /* Add a smooth transition */
}

.arrow-left {
  left: 0%; /* Adjust left arrow spacing to match the right side */
  transform: translate(-50%, -50%); /* Center the arrow shape itself */
  border-right-color: #33333333; /* Arrow color */
  border-width: 45px; /* Adjust the size of the triangle */
}

.arrow-right {
  right: 0%; /* Adjust right arrow spacing to be consistent with the left */
  transform: translate(50%, -50%); /* Center the arrow shape itself */
  border-left-color: #33333333; /* Arrow color */
  border-width: 45px; /* Adjust the size of the triangle */
}

/* arrows hover border-left-color:#333  border-right-color:#333 */
.arrow-left:hover {
  border-right-color: #333;
}

.arrow-right:hover {
  border-left-color: #333;
}

.nft-cards-container {
  display: grid;
  place-content: center;
  position: relative;
  text-align: center;
  width: 100%; /* Set the container to take 80% of its parent */
  margin: 0; /* Center the container */
  padding: 20px 20px; /* Add padding to the left and right */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  flex: 0 0 auto; /* Cards do not grow or shrink */
  margin: 16px; /* Spacing between cards */
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cards-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  position: relative; /* Needed for absolute positioning of the arrows */
  padding: 0 60px; /* Padding to make space for arrows */
}

.cards-slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.nft-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center; /* Align checkbox and label text vertically */
  position: relative;
  padding-left: 2em; /* Space for the custom checkbox */
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a green background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #6942a0;
  border-color: #6942a0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.nft-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: #eee;
  font-weight: bold;
}

.nft-collection-name {
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
  font-weight: bold;
}

.purchase-container {
  display: flex;
  flex-wrap: wrap; /* Allow children to wrap to the next line */
  align-items: stretch; /* Align items at the start of the container */
  justify-content: space-between; /* Space out the children evenly */
  margin: 20px 0;
  width: 90%;
}

.purchase-container > :first-child {
  flex: 1 0 100%; /* flex-grow: 1, flex-shrink: 0, flex-basis: 100% */
}

.purchase-container > :not(:first-child) {
  flex: 1 0 calc(33.33% - 10px); /* flex-grow: 1, flex-shrink: 0, flex-basis: 33.33% (minus a little for margin) */
}
.near-container,
.shards-container,
.ft-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 20px; /* Spacing between rows */
  font-weight: bold;
  width: calc(33.333% - 10px); /* Three items per row, subtract some space for margin */
  padding: 10px;
  min-height: 0;
}

.number-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  
  margin: 0.5rem;
}

.number-input {
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem; 
  margin: .5rem;
  min-width: 50px; 
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-weight: bold;
}

.trade-text {
  font-size: 1.5rem;
  color: #333; /* Text color */
  font-weight: bold;
}

.trade-button {
  background-color: #6942a0;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px auto;
  width: 90%; /* Ensures uniform width */
  max-width: 300px; /* Prevents buttons from getting too wide */
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 1.69s, color 1.69s;
  display: block; /* Ensures buttons are block-level for consistent layout */
}

.trade-button:disabled {
  background: rgba(0, 0, 0, 0.64);
  color: #f5f5f5;
  cursor: not-allowed;
}

.trade-button:not(:disabled) {
  background-color: #6942a0;
  color: white;
}

.purchase-text {
  font-size: 1.5rem;
  padding: 0.25rem ;
  color: #333;
  font-weight: bold;
}

/* New class for the Select All button when not all NFTs are selected */
.select-all-button:not(.all-selected) {
  background-color: #100f50c2; /* Purple color */
}

.information-card {
  padding: 20px;
  background-color: #333; /* Example background color, change as needed */
  border-radius: 8px;
  margin: 16px;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  color: #333; /* Example text color, change as needed */
  font-weight: bold;
}

/* **************************************************************************************
****** Scroll CSS ********************************************************************
************************************************************************************** */

.scroll-container {
  position: relative;
  width: 100vw; /* Changed to 90% as specified */
  max-width: 100vw;
  height: 95vh; /* Make it the full height of the viewport */
  margin: 0 auto; /* Center it horizontally */
  margin-top: 2.25rem;
  overflow: hidden; /* Hide any overflow */
  /* background: url({scrollImage}) center center / contain no-repeat; Set the background image */
  display: flex;
  align-items: center; /* Vertically center the scroll content */
  justify-content: center; /* Horizontally center the scroll content */
  z-index: 1;
  border-radius: 5% 5% 5% 5%;
}

.scroll-content {
  position: absolute;
  top: 5%; /* Adjust the top position as needed */
  width: 80%; /* Adjust the width as needed */
  max-height: 90%; /* Adjust the height to prevent it from going off-screen */
  overflow-y: auto; /* Enable scrolling within the content */
  /* background: rgba(255, 255, 255, 0.8); */ /* Optional: Set a background to make the text readable */
  background: url('/scroll-skin-v-sm.png') center center / 150% no-repeat fixed;
  border-radius: 5% 5% 5% 5%;
  padding: 20px; /* Add some padding around the content */
  box-sizing: border-box; /* Include padding in the width calculation */
  z-index: 2;
}

.h1s .h1{
  font-family: 'FingerPaint', sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 8vw; /* Adjusted to be relative to the viewport width */
  margin-top: 2vh;
  margin-bottom: 2vh; /* Adjusted to be relative to the viewport height */
  margin-left: 1rem;
  display: grid;
  place-content: center;
}

.h2s {
  font-family: 'FingerPaint', sans-serif; 
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2.7vw; /* Adjusted to be relative to the viewport width */
  margin-bottom: 1.5vh;
  display: grid;
  place-content: center;
}

.h3s {
  font-family: 'GamjaFlower', serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2vw; /* Adjusted to be relative to the viewport width */
  margin-bottom: 1vh;
  display: grid;
  place-content: center;
}

.ps {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.8vw; /* 20% larger than 1.5vw */
  margin-bottom: 2vh;
  line-height: 1.6;
}

.store-card {
  max-width: 90%;
  display: grid;
  place-content: center;
}

@media (max-width: 768px) {
  .scroll-container {
    height: 85vh; /* Make it the full height of the viewport */
    margin-top: 2.25rem;
  }
  .scroll-content {
    top: 10%; /* Adjust the top position as needed */
    width: 90%; /* Adjust the width as needed */
    max-height: 90%; /* Adjust the height to prevent it from going off-screen */
    overflow-y: auto; /* Enable scrolling within the content */
    background: rgba(255, 255, 255, 0.6); /* Optional: Set a background to make the text readable */
    background: url('/scroll-skin-v-sm.png') center center / 150% no-repeat fixed;
    border-radius: 5% 5% 5% 5%;
    padding: 20px; /* Add some padding around the content */
    box-sizing: border-box; /* Include padding in the width calculation */
    z-index: 2;
  }

  .h1s {
    font-size: 10vw; /* Adjusted to be relative to the viewport width */
    margin-top: 2vh;
    margin-bottom: 2vh; /* Adjusted to be relative to the viewport height */
    margin-left: 1rem;
    display: grid;
    place-content: center;
  }

  .h2s {
    font-size: 8vw; /* Adjusted to be relative to the viewport width */
    margin-bottom: 1.5vh;
    display: grid;
    place-content: center;
  }

  .h3s {
    font-size: 6vw; /* Adjusted to be relative to the viewport width */
    margin-bottom: 1vh;
    display: grid;
    place-content: center;
  }

  .ps {
    font-size: 5vw; /* 20% larger than 1.5vw */
    margin-bottom: 2vh;
    line-height: 1.6;
  }
}